* {
    margin: 0;
    padding: 0;
}

body {
    top: 0;
    
}

nav {
    display: block;
    width: 25%;
    height: 100vh;
    position: fixed;
    background-color: #15202B;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#profile {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    margin-top: 30px;
    border-radius: 50%;
    border: 1px solid #bacedd;
    background-color: #192734;
}

#name {
    padding: 10px 0 0;
    font-size: 25px;
    font-weight: 600;
    color: #bacedd;   
}

#role {
    font-size: 20px;
    font-weight: 500;
    color: #aec1cf;
}

#description {
    margin-top: 30px;
    font-size: 15px;
    padding: 30px 10px 10px;
    color: #8899A6;
    font-weight: 500;
}

.nav-links {
    margin-top: 50px;
}

.nav-links a {
    display: block;
    text-decoration: none;
    color: #bacedd;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
}

.nav-links a:hover{
    color: #e1e1e1;
}

#first {
    width: 70%;
    height: 100vh;
    margin-left: 25%;
    background-color: #192734;
    text-align: center;
    position: absolute;
    border-left: 1px solid #38444D; 
    font-family: 'Glory', sans-serif;
  
}

#title {
    margin-top: 10%;
}

#title h1 {
    font-size: 70px;
    color: #F1F1F1;
    font-weight: 900;
}

#title p {
    margin-top: 15px;
    font-size: 50px;
    color: #F1F1F1;
    font-style: italic;
    
}

#emoji {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    
}

#second {
    width: 70%;
    height: 100vh;
    margin-top: 100vh;
    margin-left: 25%;
    background-color: #253341;
    text-align: center;
    position: absolute;   
    border-left: 1px solid #38444D;
    font-family: 'Glory', sans-serif;

}

#second h2 {
    margin-top: 50px;
    font-size: 35px;
    color:#F1F1F1; 
    text-decoration: underline #062031;
}

.projectsContainer{
    width: 400px;
    height: 400px;
    margin: 70px auto;
    
}

.projectsContainer img {
    max-width: 100%;
    max-height: 100%;
}

#third {
    width: 70%;
    height: 100vh;
    margin-top: 200vh;
    margin-left: 25%;
    background-color: #192734;
    text-align: center;
    position: absolute;
    border-left: 1px solid #38444D;
    font-family: 'Glory', sans-serif;
}

.rodape {
    margin-top: 10vh;
}

.rodape h1 {
    font-size: 70px;
    color: #F1F1F1;
    font-weight: 900;
}

.rodape p {
    font-size: 35px;
    color: #F1F1F1; 
    margin-top: 10px;  
}

#github {
    width: auto;
    height: auto;
    max-height: 50px;
    max-width: 50px;
    margin-top: 35px;
    margin-right: 60px;
    border-radius: 50%;
    padding: 10px;
}

#github:hover {
    background-color: #15202B;
    width: auto;
    height: auto;
    max-height: 51px;
    max-width: 51px;
}

#linkedin {
    width: auto;
    height: auto;
    max-height: 50px;
    max-width: 50px;  
    margin-top: 35px;
    margin-left: 60px;
    border-radius: 50%;
    padding: 10px;
}

#linkedin:hover {
    background-color: #15202B;
    width: auto;
    height: auto;
    max-height: 51px;
    max-width: 51px;
}

.footer span {
    margin-top: 60px;
    display: block;
    border-bottom: 1px solid #38444D;
}

.footer p {
    float: right;
    margin-right: 10px;
    margin-top: 25px;
    color: #8899A6;
}
 
.direita {
    display: block;
    width: 5%;
    height: 100vh;
    position: fixed;
    background-color: #15202B;
    margin-left: 95%;
    border-left: 1px solid #38444D;
}

.direita p {
    font-size: 40px;
    color: #bacedd;
    margin-left: 18px;
    margin-top: 90vh;
}

.cv { 
    margin-top: 150px;
}

.cv button {
    height: 50px;
    width: 140px;
    border-radius: 10px;
    border: none;
    background-color: #253341;
    color: #bacedd;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 1000;
}

.cv button:hover {
    background-color: #15202B;
    font-size: 16px;
    cursor: pointer;;
}

.cv button:active {
    background-color: #253341;
    box-shadow: 0 3px #38444D;
    transform: translateY(4px);
  
}

@media screen and (max-width: 480px){
    nav {
        width: 100%;
        display: block;
        position:static;
    }

    #profile {
        margin-top: 80px;
    }

    #description {
        margin: 40px 0;
    }

    .nav-links {
        margin-top: 60px;
    }

    #first {
        width: 100%;
        margin: 0%;
        border-left: none;
    }

    #title {
        margin-top: 100px;
        padding: 0 20px;
        text-align: center;
    }

    #second {
        width: 100%;
        margin-left: 0;
        border-left: none;
    }

    #second h2 {
        margin-top: 100 px;
        border: none;
        text-decoration: none;
    }

    .projectsContainer{
        margin-top: 150px;
        width: 300px;
        height: 300px;
        border: 2px solid yellowgreen;
    }

    .projectsContainer img {
        width: 100%;
        
    }

    #third {
        width: 100%;
        margin-left: 0;
        border-left: none;

    }

    .rodape p {
        font-size: 26px;
    }

    .direita {
        display: none;
    }

    .direita p {
        display: none;
    }

    .cv {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .span {
        margin-top: 30px;
    }
}