* {
    margin: 0;
    padding: 0;
}

body {
    top: 0;
    
}

nav {
    display: block;
    width: 25%;
    height: 100vh;
    position: fixed;
    background-color: #15202B;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#profile {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    margin-top: 30px;
    border-radius: 50%;
    border: 1px solid #bacedd;
    background-color: #192734;
}

#name {
    padding: 10px 0 0;
    font-size: 25px;
    font-weight: 600;
    color: #bacedd;   
}

#role {
    font-size: 20px;
    font-weight: 500;
    color: #aec1cf;
}

#description {
    margin-top: 30px;
    font-size: 15px;
    padding: 30px 10px 10px;
    color: #8899A6;
    font-weight: 500;
}

.nav-links {
    margin-top: 50px;
}

.nav-links a {
    display: block;
    text-decoration: none;
    color: #bacedd;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
}

#first {
    width: 70%;
    height: 100vh;
    margin-left: 25%;
    background-color: #192734;
    text-align: center;
    position: absolute;
    border-left: 1px solid #38444D; 
    font-family: 'Glory', sans-serif;
  
}

#title {
    margin-top: 10%;
}

#title h1 {
    font-size: 70px;
    color: #F1F1F1;
    font-weight: 900;
}

#title p {
    margin-top: 15px;
    font-size: 50px;
    color: #F1F1F1;
    font-style: italic;
    
}

#emoji {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    
}

#second {
    width: 70%;
    height: 100vh;
    margin-top: 100vh;
    margin-left: 25%;
    background-color: #253341;
    text-align: center;
    position: absolute;   
    border-left: 1px solid #38444D;
    font-family: 'Glory', sans-serif;

}

#second h2 {
    margin-top: 50px;
    font-size: 35px;
    color:#F1F1F1; 
    text-decoration: underline double #062031;
}

.container {
    display: inline-block;
    margin-top: 13vh;
    margin-left: 20px;
    margin-right: 20px;
    width: 348px;
    height: 350px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;   
}


.containerTitle {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    width: 348px;
    height: 50px;
    background-color: #192734;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.containerTitle p {
    margin-top: 8px;
    color:#F1F1F1;
    font-size: 25px;
    font-weight: bold;
    
}

.containerTitle a {
    text-decoration: none;
}

.container img {
    display: flex;
    width: auto;
    height: auto;
    max-height: 350px;
    max-width: 350px;
}

#img2 {
    width: 350px;
    height: 350px;
   

}


#third {
    width: 70%;
    height: 100vh;
    margin-top: 200vh;
    margin-left: 25%;
    background-color: #192734;
    text-align: center;
    position: absolute;
    border-left: 1px solid #38444D;
    font-family: 'Glory', sans-serif;
}

.rodape {
    margin-top: 10vh;
}

.rodape h1 {
    font-size: 70px;
    color: #F1F1F1;
    font-weight: 900;
}

.rodape p {
    font-size: 35px;
    color: #F1F1F1;
    
    margin-top: 10px;    
}

#github {
    width: auto;
    height: auto;
    max-height: 50px;
    max-width: 50px;
    margin-top: 40px;
    margin-right: 60px;
    border-radius: 50%;
    padding: 10px;
}

#github:hover {
    background-color: #15202B;
}

#linkedin {
    width: auto;
    height: auto;
    max-height: 50px;
    max-width: 50px;  
    margin-top: 80px;
    margin-left: 60px;
    border-radius: 50%;
    padding: 10px;
}

#linkedin:hover {
    background-color: #15202B;
}

.footer span {
    margin-top: 55px;
    display: block;
    border-bottom: 1px solid #38444D;
}

.footer p {
    float: right;
    margin-right: 10px;
    margin-top: 40px;
    color: #8899A6;
}
 
.direita {
    display: block;
    width: 5%;
    height: 100vh;
    position: fixed;
    background-color: #15202B;
    margin-left: 95%;
    border-left: 1px solid #38444D;
}

.direita p {
    font-size: 40px;
    color: #bacedd;
    margin-left: 18px;
    margin-top: 90vh;
}

.cv { 
    margin-top: 100px;
}

.cv button {
    height: 50px;
    width: 140px;
    border-radius: 10px;
    border: none;
    background-color: #253341;
    color: #bacedd;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 1000;
}

.cv button:hover {
    background-color: #15202B;
}

.cv button:active {
    background-color: #253341;
    box-shadow: 0 3px #38444D;
    transform: translateY(4px);
  
}